<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:property name="wheel_radius" value="0.033" />

  <xacro:property name="wheel_separation" value="0.264204" />  <!-- 2 * wheel_yoff = 2 * (base_width/2 + motor_cylinder_length) -->
  <xacro:property name="wheel_width" value="0.0264" />
  <xacro:property name="wheel_mass" value="0.4" />

  <xacro:property name="back_to_front_wheel" value="0.3043" />
  <xacro:property name="back_to_rear_wheel" value="0.056536" />



  <xacro:property name="wheel_xoff1" value="${back_to_front_wheel - base_length/2}" />
  <xacro:property name="wheel_xoff2" value="${base_length/2 - back_to_rear_wheel}" />

  <xacro:property name="motor_cylinder_length" value="0.013552" />
  <xacro:property name="wheel_yoff" value="${base_width/2 + motor_cylinder_length}" />
  <xacro:property name="wheel_zoff" value="0.0188" /> <!--0.018805-->



  <xacro:macro name="ubot_wheel" params="prefix">
    <link name="${prefix}front_left_wheel_link">
      <visual>
        <!-- <geometry>
            <mesh filename="package://ubot_description/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
        </geometry> -->   
        <!-- <origin xyz="0 0 0" rpy="0 0 ${-pi/2}"/> -->
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}" ixy="0" ixz="0"
          iyy="${(wheel_mass/2.0) * (wheel_radius*wheel_radius)}" iyz="0"
          izz="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}"/>
      </inertial>
    </link>

    <joint name="${prefix}front_left_wheel_joint" type="continuous">
      <axis xyz="0 1 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}front_left_wheel_link"/>
      <!-- <origin xyz="${x_reflect*(wheel_xoff) } ${y_reflect*(wheel_yoff)} ${-wheel_zoff}" rpy="0 0 0"/> -->
      <origin xyz="${wheel_xoff1} ${wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}front_right_wheel_link">
      <visual>
        <!-- <geometry>
            <mesh filename="package://ubot_description/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/> -->
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}" ixy="0" ixz="0"
          iyy="${(wheel_mass/2.0) * (wheel_radius*wheel_radius)}" iyz="0"
          izz="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}"/>
      </inertial>
    </link>

    <joint name="${prefix}front_right_wheel_joint" type="continuous">
      <axis xyz="0 1 0"/>
      <parent link="${prefix}base_link"/>
      <child link="${prefix}front_right_wheel_link"/>
      <origin xyz="${wheel_xoff1} ${-wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
    </joint>

    <link name="${prefix}rear_left_wheel_link">
      <visual>
        <!-- <geometry>
            <mesh filename="package://ubot_description/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/> -->
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}" ixy="0" ixz="0"
          iyy="${(wheel_mass/2.0) * (wheel_radius*wheel_radius)}" iyz="0"
          izz="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}"/>
      </inertial>
    </link>

    <joint name="${prefix}rear_left_wheel_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}rear_left_wheel_link"/>
      <origin xyz="${-wheel_xoff2} ${wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>

    <link name="${prefix}rear_right_wheel_link">
      <visual>
        <!-- <geometry>
            <mesh filename="package://ubot_description/meshes/wheel.stl" scale="0.001 0.001 0.001"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/> -->
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
        <material name="dark_gray">
          <color rgba="0.2 0.2 0.2 1"/>
        </material>
      </visual>

      <collision>
        <origin xyz="0 0 0" rpy="${pi/2} 0 0"/>
        <geometry>
          <cylinder radius="${wheel_radius}" length="${wheel_width}"/>
        </geometry>
      </collision>

      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="${wheel_mass}"/>
        <inertia
          ixx="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}" ixy="0" ixz="0"
          iyy="${(wheel_mass/2.0) * (wheel_radius*wheel_radius)}" iyz="0"
          izz="${(wheel_mass/12.0) * (3*wheel_radius*wheel_radius + wheel_width*wheel_width)}"/>
      </inertial>
    </link>

    <joint name="${prefix}rear_right_wheel_joint" type="continuous">
      <parent link="${prefix}base_link"/>
      <child link="${prefix}rear_right_wheel_link"/>
      <origin xyz="${-wheel_xoff2} ${-wheel_yoff} ${wheel_zoff}" rpy="0 0 0"/>
      <axis xyz="0 1 0"/>
    </joint>
  </xacro:macro>
</robot>